.card{
    width: 30vw;
   
}
.cover{
    width: 17vw;
    height: 50vh;
    border-radius: 10px;
}
.category{
    display: flex;
    gap: 10px;

 
}
.item1{
    background-color: rgb(124, 124, 237);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10%;
    font-size: medium;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

}
.logo{
    height: 8vh;
    border-radius: 6px;
}
.list{
    display: flex;
    list-style: none;
    gap: 20px;
}
li{
    cursor: pointer;
}li:hover{
    color: darkorchid
}
.albumcover{
    display: flex;
}

body{
    background-color:rgb(237, 230, 205);
}
.icon{
    width: 50vw;
    height: 50vh;
}